
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*base*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 3rem 0;
    font-family:'Poppins', sans-serif;
    font-size: .938rem;
    background-color:aliceblue;
    color: #6d6a7c;
}

h1,h2,h3,h4{
    color:#242329;
    font-weight: 600;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}


.section{
    padding:2rem 0 4rem;

}

.section_title{
    font-size: 2.25rem;
}
.section_subtitle{
    display: block;
    font-size: .875rem;
    margin-bottom: 3rem;
}

.section_title,
.section_subtitle{
    text-align: center;
}


/*---düzen---*/

.container{
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: aliceblue;

}

/*-----NAV----- */
.nav{
    max-width: 968px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle{
    color: #242329;
    font-weight: 500;
}
.nav_logo:hover{
    color: #25d75b;
}

.nav_toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav_toggle:hover{
    color: #25d75b;
}



@media screen and (max-width:767px) {
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: aliceblue;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px #00000026;
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
    
}

.nav_list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .813rem;
    color: #242329;
}
.nav_link:hover{
    color: #25d75b;
}
.nav_icon{
    font-size: 1.2rem;
}
.nav_close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #25d75ab5;
}

.nav_close:hover{
    color: #1ca946;
 }

 /*--- show menu ---*/
.show-menu{
    bottom: 0;
 }

 .active-link{
    color: #25d75b;
 }

 .scroll-header{
    box-shadow:0 -1px 4px #00000026 ;
 }

 /*-----ANASAYFA-----*/
 .home_container{
    gap:1rem;
 }
 .home_content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
 }
 .home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
 }
 .home_social-icon{
    font-size: 1.5rem;
    color:#25d75b;
 }
 .home_social-icon:hover{
    color: #1ca946;
 }
 .home_blob{
    width: 200px;
    fill: #25d75b;
    animation-name: a_blob;
    animation-duration: 5s;
 }
 @keyframes a_blob {
    0%{fill:#25d75b;}
    25% {fill: #76ff7d;}
    50%{fill:#25d75b;}
    75% {fill: #76ff7d;}
  }
 .home_blob-img{
    width: 350px;
 }
.home_data{
    grid-column: 1/3;
}
.home_title{
    font-size:3rem ;
}

.home_subtitle{
    font-size: 1.25rem;
    color:#6d6a7c ;
    margin-bottom: 1rem;
}

.home_scroll{
    display: none;
}
.home_scroll-button:hover{
    transform: translateY(.35rem);
    transition: .5s;
}

.home_scroll-name{
    font-size: .875rem;
    color: #242329;
    font-weight: 500;
    margin-right: .25rem;
}
.home_scroll-arrow{
    font-size: 1.25rem;
}


/*----BUTTONS----*/
.btn-search{
    background-color: #00800000;
    border-style: none;
}

.button{
    display: inline-block;
    background-color: #25d75b;
    color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 500;
}

.button:hover{
    background-color: #1ca946;
    transition: .5s;
}

.button_icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: 5s;
}

.button-flex{
    display: inline-flex;
    align-items: center;
}

/*----HAKKIMDA----*/
.about_img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}
.about_description{
    text-align: center;
    margin-bottom: 2.5rem;
}

.about_buttons{
    display: flex;
    justify-content: center; 
}

/*----YETENEKLER----*/
.skills_container{
    row-gap: 0;
}
.skills_header{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}
.skills_arrow{
    margin-left: auto;
    font-size: 1.5rem;
    color: #25d75b;
    transition: .4s;
}

.skills_list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}
.skills_title{
    font-size: 1.125rem;
}
.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.skills_name{
    font-size: .938rem;
    font-weight: 500;
}
.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills_bar{
    background-color: #25d75a65;
}
.skills_percentage{
    display: block;
    background-color: #25d75b;
}
.skills_html{
    width: 75%;
}
.skills_java{
    width: 75%;
}
.skills_css{
    width: 70%;
}

.skills_js{
    width: 60%;
}
.skills_phyton{
    width: 75%;
}
.skills_sql{
    width: 75%;
}
.skills_cpp{
    width: 55%;
}

.skills_php{
    width: 55%;
}
.skills_c{
    width: 80%;
}

.skills_close .skills_list{
    height: 0;
    overflow: hidden;
}
.skills_open .skills_list{
    height: max-content;
    margin-bottom: 2.5rem;
}
.skills_open .skills_arrow{
    transform: rotate(-180deg);
}

/*----EĞİTİM----*/
.academic_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1rem;
}
.academic_title{
    font-size: 1rem;
    font-weight: 500;
}

.academic_subtitle{
    display: inline-block;
    font-size: .875rem;
    margin-bottom: 1rem;
}
.academic_calendar{
    font-size: .813rem;
    color: #a19fad;
}

.academic_rounder{
    display:inline-block;
    width: 13px;
    height: 13px;
    background-color: #25d75b;
    border-radius: 50%;
}

.academic_line{
    display: block;
    width: 2px;
    height: 100%;
    background-color: #25d75b;
    transform: translate(6px , -7px);

}

.a_maps{
    width:100%;
    height:50%;
    margin-top: 1rem;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

/*----SERTİFİKALAR----*/
.certificate_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1rem;
}
.certificate_title{
    font-size: 1rem;
    font-weight: 500;
}

.certificate_subtitle{
    display: inline-block;
    font-size: .875rem;
    margin-bottom: 1rem;
}
.certificate_calendar{
    font-size: .813rem;
    color: #a19fad;
}

.certificate_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #25d75b;
    border-radius: 50%;
}

.certificate_line{
    display: block;
    width: 2px;
    height: 100%;
    background-color: #25d75b;
    transform: translate(6px , -7px);

}

/*----PROJELER----*/
.projects_container{
    row-gap: 2rem;
    justify-content: center;
    
}

.projects_card{
    position:relative;
    border-radius: 1rem;
    overflow: hidden;
    
}
.projects_image{
    width: 300px;
    height: 450px;
}
.projects_modal{
    position:absolute;
    left: 0;
    bottom: -100;
    width: 300px;
    height: 450px;
    background :linear-gradient(180deg, 
               hsla(0, 0%, 0%, 0)0%, 
               #24d659cb );
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom .4s;
}

.projects_subtitle,
.projects_button{
    color: #242329;
    font-size: 1rem;
}

.projects_subtitle{
    display: block;
    margin-bottom: .25rem;
}
.projects_title{
    font-size: 1.25rem;
    margin-bottom: .75rem;
}
.projects_button{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 500;
}

.projects_button i{
    font-size: 1.25rem;
}
.projects_card:hover .projects_modal{
    bottom: 0;
}


/*----FOOTER----*/
.footer{
    padding-top: 2rem;
}
.footer_container{
    row-gap: 3.5rem;
}

.footer_bg{
    background-color:#25d75b;
    padding: 2rem 0 3rem;
}
.footer_title{
    font-size: 1.5rem;
    margin-bottom: .25rem;
}
.footer_subtitle{
    font-size: .813rem;
}
.footer_links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.footer_link:hover{
    color:#76ff7d;
}
.footer_social-icon{
    font-size: 1.25rem;
    margin-right: 1.5rem;
}

.footer_social-icon:hover{
    color:#76ff7d;
}

.footer_copy{
    font-size: .75rem;
    text-align: center;
    color:#6d6a7c;
    margin-top: 3rem;
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social-icon{
    color: #fff;
}

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: #a19fad5d;
}

::-webkit-scrollbar-thumb{
    background-color:#25d75a83;
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#25d75ab7;   
}


/*scroll up*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: #25d75b;
    opacity: .8rem;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
}
.scrollup:hover{
    background-color: #1ca946;
}

.scrollup_icon{
    margin-top: 3px;
    font-size: 1.2rem;
    color: #fff;
}
/*show scroll*/
.show-scroll{
    bottom: 5rem;
}


/*=== Media Queries ===*/

 /*small*/
 @media screen and (max-width: 350px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .nav_menu{
        padding: 2rem .25rem;     
    }
    .nav_list{
        column-gap: 0;
    }
    .home_content{
        grid-template-columns: .25fr 3fr ;
    }
    .home_blob{
        width: 180px;
    }
    .skills_title{
        font-size: .938rem;
    }
    
    .academic_data,
    .certificate_data{
        gap: .5rem;
    }
    
    .projects_image{
        width: 200px;
    }
    
 }

 /*medium*/
 @media screen and (min-width:568px){
    .home_content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home_data{
        grid-column: initial;
    }
    .home_img{
        order: 1;
        justify-content: center;
    }
    .about_container,
    .skills_container,
    .projects_content,
    .projects_container,
    .certificate_container,
    .certificate_content,
    .contact_container,
    .footer_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .academic_sections,
    .certificate_sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
 }




 @media screen and (min-width:768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2 rem;
    }
    .section_subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer_container{
        padding: 0 1rem;
    }

    .nav{
        height: 4rem;
        column-gap: 1rem;
    }
    
    .nav_icon,
    .nav_close,
    .nav_toggle{
        visibility: hidden;
    }

    .nav_list{
        display: flex;
        column-gap: 2rem;
    }

    .nav_menu{
        margin-left: auto;
    }

    .home_container{
        row-gap: 5rem;
    }

    .home_content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home_blob{
        width: 270px;
    }

    .home_scroll{
        display: block;
    }
    .home_scroll-button{
        margin-left: 3rem;
    }
    .about_container{
        column-gap: 5rem;
    }
    .about_img{
        width: 350px;
    }
    .about_description{
        text-align: initial;
    }
    .about_info{
        justify-content: space-between;
    }

    .about_buttons{
        justify-content: initial;
    }

    .academic_sections,
    .certificate_sections{
        grid-template-columns: .5fr;
    }

    .projects_modal,
    .projects_image{
        width: 320px;
    }

    .footer_container{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer_bg{
        padding: 3rem 0 3.5rem;
    }
    .footer_links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer_social{
        justify-self: flex-end;
    }

    .footer_copy{
        margin-top: 4.5rem;
    }

 }

 /* large */
 @media screen and (min-width:1024px){
    .header,
    .main,
    .footer_container{
        padding: 0;
    }
    .home_blob{
        width: 320px;
    }
    .home_social{
        transform: translate(-6rem);
    }
    .projects_content{
        column-gap: 5rem;
    }
    .contact_form{
        width: 460px;
    }

    .contact_inputs{
        grid-template-columns: repeat(2, 1fr);
    }


 }