
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 3rem 0;
    font-family:'Poppins', sans-serif;
    font-size: .938rem;
    background-color:aliceblue;
    color: #6d6a7c;
}

h1,h2,h3,h4{
    color:#242329;
    font-weight: 600;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}


.section{
    padding:2rem 0 4rem;

}

.section_title{
    font-size: 2.25rem;
}
.section_subtitle{
    display: block;
    font-size: .875rem;
    margin-bottom: 3rem;
}

.section_title,
.section_subtitle{
    text-align: center;
}


/*---düzen---*/

.container{
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: aliceblue;

}

/*-----NAV----- */
.nav{
    max-width: 968px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle{
    color: #242329;
    font-weight: 500;
}
.nav_logo:hover{
    color: #25d75b;
}

.nav_toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav_toggle:hover{
    color: #25d75b;
}



@media screen and (max-width:767px) {
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: aliceblue;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px #00000026;
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
    
}

.nav_list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .813rem;
    color: #242329;
}
.nav_link:hover{
    color: #25d75b;
}
.nav_icon{
    font-size: 1.2rem;
}
.nav_close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #25d75ab5;
}

.nav_close:hover{
    color: #1ca946;
 }

 /*--- show menu ---*/
.show-menu{
    bottom: 0;
 }


 /*-----ANASAYFA-----*/
 .home_container{
    gap:1rem;
 }
 .home_content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
 }
 .home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
 }
 .home_social-icon{
    font-size: 1.5rem;
    color:#25d75b;
 }
 .home_social-icon:hover{
    color: #1ca946;
 }
 .home_blob{
    width: 200px;
    fill: #25d75b;
 }
 .home_blob-img{
    width: 350px;
 }
.home_data{
    grid-column: 1/3;
}
.home_title{
    font-size:3rem ;
}

.home_subtitle{
    font-size: 1.25rem;
    color:#6d6a7c ;
}

.home_scroll{
    display: none;
}
.home_scroll-button:hover{
    transform: translateY(.35rem);
    transition: .5s;
}

.home_scroll-name{
    font-size: .875rem;
    color: #242329;
    font-weight: 500;
    margin-right: .25rem;
}
.home_scroll-arrow{
    font-size: 1.25rem;
}


/*----BUTTONS----*/
.btn-search{
    background-color: #00800000;
    border-style: none;
}

.button{
    display: inline-block;
    background-color: #25d75b;
    color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 500;
}

.button:hover{
    background-color: #1ca946;
    transition: .5s;
}

.button_icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: 5s;
}

.button-flex{
    display: inline-flex;
    align-items: center;
}

/*----HAKKIMDA----*/
.about_img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}
.about_description{
    text-align: center;
    margin-bottom: 2.5rem;
}

.about_buttons{
    display: flex;
    justify-content: center; 
}

/*----YETENEKLER----*/
.skills_container{
    row-gap: 0;
}
.skills_header{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}
.skills_arrow{
    margin-left: auto;
    font-size: 1.5rem;
    color: #25d75b;
    transition: .4s;
}

.skills_list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}
.skills_title{
    font-size: 1.125rem;
}
.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.skills_name{
    font-size: .938rem;
    font-weight: 500;
}
.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills_bar{
    background-color: #25d75a65;
}
.skills_percentage{
    display: block;
    background-color: #25d75b;
}
.skills_html{
    width: 75%;
}
.skills_java{
    width: 75%;
}
.skills_css{
    width: 70%;
}

.skills_js{
    width: 60%;
}
.skills_phyton{
    width: 75%;
}
.skills_sql{
    width: 75%;
}
.skills_cpp{
    width: 55%;
}
.skills_imagep{
    width: 60%;
}

.skills_close .skills_list{
    height: 0;
    overflow: hidden;
}
.skills_open .skills_list{
    height: max-content;
    margin-bottom: 2.5rem;
}
.skills_open .skills_arrow{
    transform: rotate(-180deg);
}